/*!
*  YOLINE icons v1.4
*  by Coverry - http://graphicriver.net/user/coverry
*  Licenses - http://graphicriver.net/licenses/standard
*/

@font-face {
font-family: "yoline";
	src:url("../fonts/yolineffaf.eot?v=1.4");
	src:url("../fonts/yolined41d.eot?#iefix&v=1.4") format("embedded-opentype"),
		url("../fonts/yolineffaf.woff?v=1.4") format("woff"),
		url("../fonts/yolineffaf.ttf?v=1.4") format("truetype"),
		url("../fonts/yolineffaf.svg?v=1.4#yoline") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="yo-icon"],
[class*=" yo-icon"] {
	font-family: "yoline" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yo-icon-size1{font-size: 32px!important;}
.yo-icon-size2{font-size: 64px!important;}
.yo-icon-size3{font-size: 96px!important;}
.yo-icon-size4{font-size: 128px!important;}

.yo-icon-aim:before{content:"\e000";}
.yo-icon-aircraft:before{content:"\e001";}
.yo-icon-alarm-clock:before{content:"\e002";}
.yo-icon-album:before{content:"\e003";}
.yo-icon-ambulance-car:before{content:"\e004";}
.yo-icon-anchor:before{content:"\e005";}
.yo-icon-archive:before{content:"\e006";}
.yo-icon-archive-box:before{content:"\e007";}
.yo-icon-archive-data:before{content:"\e008";}
.yo-icon-archive-in:before{content:"\e009";}
.yo-icon-archive-out:before{content:"\e00a";}
.yo-icon-arrow-back-l:before{content:"\e00b";}
.yo-icon-arrow-diagonal:before{content:"\e00c";}
.yo-icon-arrow-down:before{content:"\e00d";}
.yo-icon-arrow-down-l:before{content:"\e00e";}
.yo-icon-arrow-forward-l:before{content:"\e00f";}
.yo-icon-arrow-left:before{content:"\e010";}
.yo-icon-arrow-left-l:before{content:"\e011";}
.yo-icon-arrow-left-right:before{content:"\e012";}
.yo-icon-arrow-left-right-l:before{content:"\e013";}
.yo-icon-arrow-right:before{content:"\e014";}
.yo-icon-arrow-right-l:before{content:"\e015";}
.yo-icon-arrow-up:before{content:"\e016";}
.yo-icon-arrow-up-down:before{content:"\e017";}
.yo-icon-arrow-up-down-l:before{content:"\e018";}
.yo-icon-arrow-up-l:before{content:"\e019";}
.yo-icon-arrows-left-right:before{content:"\e01a";}
.yo-icon-arrows-right-left-l:before{content:"\e01b";}
.yo-icon-arrows-up-down:before{content:"\e01c";}
.yo-icon-arrows-up-down-l:before{content:"\e01d";}
.yo-icon-at:before{content:"\e01e";}
.yo-icon-atom:before{content:"\e01f";}
.yo-icon-automobile:before{content:"\e020";}
.yo-icon-awareness-ribbon:before{content:"\e021";}
.yo-icon-baby-bottle:before{content:"\e022";}
.yo-icon-backspace:before{content:"\e023";}
.yo-icon-bag:before{content:"\e024";}
.yo-icon-ban-c:before{content:"\e025";}
.yo-icon-bank:before{content:"\e026";}
.yo-icon-basket:before{content:"\e027";}
.yo-icon-battery:before{content:"\e028";}
.yo-icon-battery-charge:before{content:"\e029";}
.yo-icon-bed:before{content:"\e02a";}
.yo-icon-bicycle:before{content:"\e02b";}
.yo-icon-bin:before{content:"\e02c";}
.yo-icon-blank:before{content:"\e02d";}
.yo-icon-blocks-1:before{content:"\e02e";}
.yo-icon-blocks-2:before{content:"\e02f";}
.yo-icon-blocks-3:before{content:"\e030";}
.yo-icon-bluetooth:before{content:"\e031";}
.yo-icon-book-open:before{content:"\e032";}
.yo-icon-bookmark:before{content:"\e033";}
.yo-icon-bookmarks:before{content:"\e034";}
.yo-icon-bricks:before{content:"\e035";}
.yo-icon-briefcase:before{content:"\e036";}
.yo-icon-broadcast:before{content:"\e037";}
.yo-icon-browser:before{content:"\e038";}
.yo-icon-brush:before{content:"\e039";}
.yo-icon-bullhorn:before{content:"\e03a";}
.yo-icon-bus:before{content:"\e03b";}
.yo-icon-cabinet:before{content:"\e03c";}
.yo-icon-cable:before{content:"\e03d";}
.yo-icon-calculator:before{content:"\e03e";}
.yo-icon-calendar:before{content:"\e03f";}
.yo-icon-call:before{content:"\e040";}
.yo-icon-call-ban:before{content:"\e041";}
.yo-icon-call-coonect:before{content:"\e042";}
.yo-icon-call-end:before{content:"\e043";}
.yo-icon-call-incoming:before{content:"\e044";}
.yo-icon-call-list:before{content:"\e045";}
.yo-icon-call-off:before{content:"\e046";}
.yo-icon-call-outgoing:before{content:"\e047";}
.yo-icon-call-s:before{content:"\e048";}
.yo-icon-calling:before{content:"\e049";}
.yo-icon-camera:before{content:"\e04a";}
.yo-icon-cardiogram:before{content:"\e04b";}
.yo-icon-cash:before{content:"\e04c";}
.yo-icon-cd:before{content:"\e04d";}
.yo-icon-cds:before{content:"\e04e";}
.yo-icon-certificate:before{content:"\e04f";}
.yo-icon-chart-1:before{content:"\e050";}
.yo-icon-chart-2:before{content:"\e051";}
.yo-icon-chat:before{content:"\e052";}
.yo-icon-check-list:before{content:"\e053";}
.yo-icon-checkmark:before{content:"\e054";}
.yo-icon-checkmark-c:before{content:"\e055";}
.yo-icon-checkmark-s:before{content:"\e056";}
.yo-icon-chef-hat:before{content:"\e057";}
.yo-icon-chip:before{content:"\e058";}
.yo-icon-clipboard:before{content:"\e059";}
.yo-icon-clipboard-checkmark:before{content:"\e05a";}
.yo-icon-clock:before{content:"\e05b";}
.yo-icon-cloud:before{content:"\e05c";}
.yo-icon-cloud-in:before{content:"\e05d";}
.yo-icon-cloud-lock:before{content:"\e05e";}
.yo-icon-cloud-out:before{content:"\e05f";}
.yo-icon-clover:before{content:"\e060";}
.yo-icon-coffee-cup:before{content:"\e061";}
.yo-icon-columns:before{content:"\e062";}
.yo-icon-comment:before{content:"\e063";}
.yo-icon-compass:before{content:"\e064";}
.yo-icon-components:before{content:"\e065";}
.yo-icon-compress-s:before{content:"\e066";}
.yo-icon-copy:before{content:"\e067";}
.yo-icon-cogwheel:before{content:"\e068";}
.yo-icon-credit-card:before{content:"\e069";}
.yo-icon-crop:before{content:"\e06a";}
.yo-icon-crown:before{content:"\e06b";}
.yo-icon-cube:before{content:"\e06c";}
.yo-icon-cursor:before{content:"\e06d";}
.yo-icon-cut:before{content:"\e06e";}
.yo-icon-cutlery:before{content:"\e06f";}
.yo-icon-database:before{content:"\e070";}
.yo-icon-desktop:before{content:"\e071";}
.yo-icon-diamond:before{content:"\e072";}
.yo-icon-direction:before{content:"\e073";}
.yo-icon-direction-2:before{content:"\e074";}
.yo-icon-doc:before{content:"\e075";}
.yo-icon-down:before{content:"\e076";}
.yo-icon-down-c:before{content:"\e077";}
.yo-icon-download:before{content:"\e078";}
.yo-icon-download-l:before{content:"\e079";}
.yo-icon-drop:before{content:"\e07a";}
.yo-icon-dropper:before{content:"\e07b";}
.yo-icon-duplicate:before{content:"\e07c";}
.yo-icon-edit:before{content:"\e07d";}
.yo-icon-eject:before{content:"\e07e";}
.yo-icon-eraser:before{content:"\e07f";}
.yo-icon-expand-s:before{content:"\e080";}
.yo-icon-external:before{content:"\e081";}
.yo-icon-eye:before{content:"\e082";}
.yo-icon-eye-off:before{content:"\e083";}
.yo-icon-fast-forward:before{content:"\e084";}
.yo-icon-female:before{content:"\e085";}
.yo-icon-film:before{content:"\e086";}
.yo-icon-filter:before{content:"\e087";}
.yo-icon-flag:before{content:"\e088";}
.yo-icon-flag-2:before{content:"\e089";}
.yo-icon-flame:before{content:"\e08a";}
.yo-icon-flashlight:before{content:"\e08b";}
.yo-icon-flask:before{content:"\e08c";}
.yo-icon-folder:before{content:"\e08d";}
.yo-icon-folder-add:before{content:"\e08e";}
.yo-icon-folder-delete:before{content:"\e08f";}
.yo-icon-folder-in:before{content:"\e090";}
.yo-icon-folder-lock:before{content:"\e091";}
.yo-icon-folder-open:before{content:"\e092";}
.yo-icon-folder-out:before{content:"\e093";}
.yo-icon-frame:before{content:"\e094";}
.yo-icon-fuel-pump:before{content:"\e095";}
.yo-icon-gift:before{content:"\e096";}
.yo-icon-glass:before{content:"\e097";}
.yo-icon-globe:before{content:"\e098";}
.yo-icon-group:before{content:"\e099";}
.yo-icon-guy-fawkes-mask:before{content:"\e09a";}
.yo-icon-hat:before{content:"\e09b";}
.yo-icon-hd:before{content:"\e09c";}
.yo-icon-hdd:before{content:"\e09d";}
.yo-icon-headphones:before{content:"\e09e";}
.yo-icon-heart:before{content:"\e09f";}
.yo-icon-helicopter:before{content:"\e0a0";}
.yo-icon-help:before{content:"\e0a1";}
.yo-icon-history:before{content:"\e0a2";}
.yo-icon-home:before{content:"\e0a3";}
.yo-icon-hourglass:before{content:"\e0a4";}
.yo-icon-id-card:before{content:"\e0a5";}
.yo-icon-infinity:before{content:"\e0a6";}
.yo-icon-info-c:before{content:"\e0a7";}
.yo-icon-key:before{content:"\e0a8";}
.yo-icon-lamp:before{content:"\e0a9";}
.yo-icon-laptop:before{content:"\e0aa";}
.yo-icon-launch:before{content:"\e0ab";}
.yo-icon-leaf:before{content:"\e0ac";}
.yo-icon-left:before{content:"\e0ad";}
.yo-icon-left-c:before{content:"\e0ae";}
.yo-icon-left-right:before{content:"\e0af";}
.yo-icon-lightbulb:before{content:"\e0b0";}
.yo-icon-link:before{content:"\e0b1";}
.yo-icon-list-1:before{content:"\e0b2";}
.yo-icon-list-2:before{content:"\e0b3";}
.yo-icon-list-3:before{content:"\e0b4";}
.yo-icon-lock:before{content:"\e0b5";}
.yo-icon-loop:before{content:"\e0b6";}
.yo-icon-loudspeakers:before{content:"\e0b7";}
.yo-icon-mail:before{content:"\e0b8";}
.yo-icon-mail-2:before{content:"\e0b9";}
.yo-icon-male:before{content:"\e0ba";}
.yo-icon-man:before{content:"\e0bb";}
.yo-icon-map:before{content:"\e0bc";}
.yo-icon-map-marker:before{content:"\e0bd";}
.yo-icon-marker:before{content:"\e0be";}
.yo-icon-mask:before{content:"\e0bf";}
.yo-icon-medical-cross:before{content:"\e0c0";}
.yo-icon-medical-kit:before{content:"\e0c1";}
.yo-icon-menu-c:before{content:"\e0c2";}
.yo-icon-message:before{content:"\e0c3";}
.yo-icon-mic:before{content:"\e0c4";}
.yo-icon-mic-off:before{content:"\e0c5";}
.yo-icon-microphone:before{content:"\e0c6";}
.yo-icon-minus-c:before{content:"\e0c7";}
.yo-icon-mobile:before{content:"\e0c8";}
.yo-icon-money-stack:before{content:"\e0c9";}
.yo-icon-mood-sad:before{content:"\e0ca";}
.yo-icon-mood-smile:before{content:"\e0cb";}
.yo-icon-moon:before{content:"\e0cc";}
.yo-icon-mortarboard:before{content:"\e0cd";}
.yo-icon-mouse:before{content:"\e0ce";}
.yo-icon-music:before{content:"\e0cf";}
.yo-icon-nav-controls:before{content:"\e0d0";}
.yo-icon-new-window:before{content:"\e0d1";}
.yo-icon-newspaper:before{content:"\e0d2";}
.yo-icon-nodes:before{content:"\e0d3";}
.yo-icon-note:before{content:"\e0d4";}
.yo-icon-paper:before{content:"\e0d5";}
.yo-icon-paperclip:before{content:"\e0d6";}
.yo-icon-parameters-h:before{content:"\e0d7";}
.yo-icon-parameters-v:before{content:"\e0d8";}
.yo-icon-pause:before{content:"\e0d9";}
.yo-icon-pen:before{content:"\e0da";}
.yo-icon-pencil:before{content:"\e0db";}
.yo-icon-percent:before{content:"\e0dc";}
.yo-icon-picture:before{content:"\e0dd";}
.yo-icon-pie-chart:before{content:"\e0de";}
.yo-icon-pill:before{content:"\e0df";}
.yo-icon-pin:before{content:"\e0e0";}
.yo-icon-play:before{content:"\e0e1";}
.yo-icon-playlist:before{content:"\e0e2";}
.yo-icon-plug:before{content:"\e0e3";}
.yo-icon-plus:before{content:"\e0e4";}
.yo-icon-plus-c:before{content:"\e0e5";}
.yo-icon-power:before{content:"\e0e6";}
.yo-icon-printer:before{content:"\e0e7";}
.yo-icon-projector:before{content:"\e0e8";}
.yo-icon-projector-screen:before{content:"\e0e9";}
.yo-icon-question:before{content:"\e0ea";}
.yo-icon-question-c:before{content:"\e0eb";}
.yo-icon-quotes:before{content:"\e0ec";}
.yo-icon-radiation:before{content:"\e0ed";}
.yo-icon-radio:before{content:"\e0ee";}
.yo-icon-rec:before{content:"\e0ef";}
.yo-icon-redo:before{content:"\e0f0";}
.yo-icon-refresh:before{content:"\e0f1";}
.yo-icon-reminder:before{content:"\e0f2";}
.yo-icon-reminder-off:before{content:"\e0f3";}
.yo-icon-remove:before{content:"\e0f4";}
.yo-icon-remove-c:before{content:"\e0f5";}
.yo-icon-remove-s:before{content:"\e0f6";}
.yo-icon-repeat:before{content:"\e0f7";}
.yo-icon-resize:before{content:"\e0f8";}
.yo-icon-rewind:before{content:"\e0f9";}
.yo-icon-right:before{content:"\e0fa";}
.yo-icon-right-c:before{content:"\e0fb";}
.yo-icon-router:before{content:"\e0fc";}
.yo-icon-ruller:before{content:"\e0fd";}
.yo-icon-save:before{content:"\e0fe";}
.yo-icon-scales:before{content:"\e0ff";}
.yo-icon-screen-max:before{content:"\e100";}
.yo-icon-screen-min:before{content:"\e101";}
.yo-icon-search:before{content:"\e102";}
.yo-icon-send:before{content:"\e103";}
.yo-icon-server:before{content:"\e104";}
.yo-icon-share:before{content:"\e105";}
.yo-icon-share-2:before{content:"\e106";}
.yo-icon-shield-protection:before{content:"\e107";}
.yo-icon-shield-restriction:before{content:"\e108";}
.yo-icon-shield-verified:before{content:"\e109";}
.yo-icon-ship:before{content:"\e10a";}
.yo-icon-shopping-cart:before{content:"\e10b";}
.yo-icon-shower:before{content:"\e10c";}
.yo-icon-shuffle:before{content:"\e10d";}
.yo-icon-sign-in:before{content:"\e10e";}
.yo-icon-sign-out:before{content:"\e10f";}
.yo-icon-signal-disconnect:before{content:"\e110";}
.yo-icon-signal-receiving:before{content:"\e111";}
.yo-icon-signal-searching:before{content:"\e112";}
.yo-icon-sim-card:before{content:"\e113";}
.yo-icon-spinner:before{content:"\e114";}
.yo-icon-split:before{content:"\e115";}
.yo-icon-spy:before{content:"\e116";}
.yo-icon-stack:before{content:"\e117";}
.yo-icon-star:before{content:"\e118";}
.yo-icon-star-of-life:before{content:"\e119";}
.yo-icon-stats:before{content:"\e11a";}
.yo-icon-stop:before{content:"\e11b";}
.yo-icon-stopwatch:before{content:"\e11c";}
.yo-icon-structure-1:before{content:"\e11d";}
.yo-icon-structure-2:before{content:"\e11e";}
.yo-icon-suitcase:before{content:"\e11f";}
.yo-icon-sun:before{content:"\e120";}
.yo-icon-tablet:before{content:"\e121";}
.yo-icon-tag:before{content:"\e122";}
.yo-icon-target:before{content:"\e123";}
.yo-icon-thumb-list:before{content:"\e124";}
.yo-icon-thumbs-down:before{content:"\e125";}
.yo-icon-thumbs-up:before{content:"\e126";}
.yo-icon-track-next:before{content:"\e127";}
.yo-icon-track-prev:before{content:"\e128";}
.yo-icon-train:before{content:"\e129";}
.yo-icon-tram:before{content:"\e12a";}
.yo-icon-truck:before{content:"\e12b";}
.yo-icon-tv:before{content:"\e12c";}
.yo-icon-umbrella:before{content:"\e12d";}
.yo-icon-undo:before{content:"\e12e";}
.yo-icon-unlink:before{content:"\e12f";}
.yo-icon-unlock:before{content:"\e130";}
.yo-icon-up:before{content:"\e131";}
.yo-icon-up-c:before{content:"\e132";}
.yo-icon-up-down:before{content:"\e133";}
.yo-icon-upload-l:before{content:"\e134";}
.yo-icon-usb:before{content:"\e135";}
.yo-icon-user:before{content:"\e136";}
.yo-icon-users:before{content:"\e137";}
.yo-icon-video:before{content:"\e138";}
.yo-icon-video-cam:before{content:"\e139";}
.yo-icon-voicemail:before{content:"\e13a";}
.yo-icon-volume:before{content:"\e13b";}
.yo-icon-volume-mute:before{content:"\e13c";}
.yo-icon-wallet:before{content:"\e13d";}
.yo-icon-warning-c:before{content:"\e13e";}
.yo-icon-webcam:before{content:"\e13f";}
.yo-icon-webcam-off:before{content:"\e140";}
.yo-icon-weigher:before{content:"\e141";}
.yo-icon-weight:before{content:"\e142";}
.yo-icon-wheelchair:before{content:"\e143";}
.yo-icon-wi-fi:before{content:"\e144";}
.yo-icon-winner-cup:before{content:"\e145";}
.yo-icon-wrench:before{content:"\e146";}
.yo-icon-yin-yang:before{content:"\e147";}
.yo-icon-zoom-in:before{content:"\e148";}
.yo-icon-zoom-out:before{content:"\e149";}
